<footer class="site-footer">
  <div class="container footer-inner">
    <p class="muted">© <span id="year"></span> Amit Hasan NurNabi. Built with HTML/CSS/JS.</p>

    <div class="footer-links">
      <a href="https://github.com/amit7768" target="_blank" rel="noreferrer" aria-label="GitHub link">GitHub</a>
      <a href="https://www.linkedin.com/in/amit-hasan-nurnabi-2798a4201/" target="_blank" rel="noreferrer" aria-label="LinkedIn link">LinkedIn</a>
      <a href="mailto:your@email.com" target="_blank" rel="noreferrer" aria-label="Email link">Email</a>
    </div>
  </div>
</footer>
